*, *::before, *::after {
    box-sizing: border-box;}

/* Variables */
$color-two: #F85C50;

$font-header: 'Berkshire Swash', cursive;
$font-main: 'Roboto', sans-serif;

body {
  margin: 0;
  font-size: 16px;
  font-family: $font-main;
  text-align: center;
}

.container {
  max-width: 600px;
  border: 1px solid $color-two;
  margin: 40px auto;
  padding: 60px 0 100px 0;
}

.splash-inner h1 {
  font-family: $font-header;
  padding-bottom: 30px;
}

button {
    display: inline-block;
    min-width: 80px;
    margin: 24px 10px 0 10px;
    padding: 12px 35px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-family: $font-main;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: $color-two;
    color: #000;
}
