*, *::before, *::after {
    box-sizing: border-box;}

/* Variables */
$color-main: #3c6382;
$color-two: #FFF;

$font-header: 'Berkshire Swash', cursive;
$font-main: 'Roboto', sans-serif;

body {
  margin: 0;
  font-size: 16px;
  font-family: $font-main;
  text-align: center;
}

.container {
  max-width: 600px;
  border-radius: 10px;
  margin: 40px auto;
  padding: 60px 0 100px 0;
  background-color: $color-main;
}

.splash-inner h1 {
  font-family: $font-header;
  padding-bottom: 30px;
  color: $color-two;
  letter-spacing: 0.06em;
}

#buttons {
  margin-bottom: 30px;
}

button {
  display: inline-block;
  min-width: 80px;
  margin: 24px 10px 0 10px;
  padding: 12px 35px;
  border-radius: 5px;
  border: 2px solid $color-two;
  outline: none;
  font-size: 14px;
  font-family: $font-main;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: inherit;
  color: $color-two;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%);
}

button:hover {
    background-position: 0 100%;
    color: $color-main;
}

#messages {
  color: $color-two;
}

#result {
  color: $color-two;
}
